body
{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
}

.main
{
    width:100%;
    height:100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(pic.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.nav-links
{
    width:99%; 
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,0.10),rgba(0,0,0,0.10));
}

.logo
{
    width: 120px;
    margin-left: 20px;
}

.nav-links ul li
{
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    position: relative;
    padding-right: 10px;
}

.nav-links ul li a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-links ul li::after
{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.nav-links ul li:hover::after 
{
    width: 100%;
}

.text-box
{
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    color: #fff;
}

.text-box h1 
{
    font-size: 40px;
    font-weight: 700;
}

.textbox p
{
    font-weight: 280;
}


.events
{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
}

h1
{
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
}

.row
{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.events-col
{
    background: transparent;
    border-radius: 10px;
    box-shadow: 6px 6px #fcba03;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
}







.placement
{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
}

h1
{
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
}



.row1
{
    margin-top: 5%;
    display: flex;
    justify-content: space-between; 
    margin: auto;  
}

.placement-col1
{
    margin: auto;
    width: 100%;
    background: transparent;
    border-radius: 10px;
    box-shadow: 6px 6px #fcba03;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
}

h3
{
    font-size: 30px;
    font-weight: 600;
}

p
{
    padding: 5%;
}


.placement-col2
{
    width: 100%;
}

.logo1
{   
    width:650px;
    height: 500px;
}

.about
{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-image: url(img.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
}

h1
{
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
}

.row2
{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.about-col
{
    background: transparent;
    border-radius: 10px;
    box-shadow: 6px 6px #fcba03;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
}

.about-col p
{
    font-weight: 400;
}
